@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}


 

body{
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: black;
  background:no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  max-width: 100%;
  max-height: 100%;
  overflow-x: hidden;
/*overflow-y: hidden;*/

}

.home{
  position: absolute;
  width: 100%;
  height: 100%;
}

.two{
position: absolute;
z-index: -1;
width: 100%;
height: 100%;
/*background: #1D976C;  /* fallback for old browsers 
background: -webkit-linear-gradient(to top, #93F9B9, #1D976C);  /* Chrome 10-25, Safari 5.1-6 
background: linear-gradient(to top, #93F9B9, #1D976C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

top:0;
}

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.container.test {
  max-width:60vw;
  width: 100%;
  margin: 0 auto;
  position: relative;

}
@media screen and (max-width: 600px) {
.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.container.test {
  max-width:400px;
  width: 100%;
  margin: 0 auto;
  position: relative;

}

}

/*Gallery*/
* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */


/* Hide the images by default */
.mySlides {
  width: 50%;
  height: 80%;
  margin: 0 auto;
  display: block;
  line-height: 0;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #4CAF50;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}





.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

/*landing*/
.headline{
  margin-top: 100px;
  border: 0px solid black;
  position: relative;
}

.logo{
  position: absolute;
  width:50vw;
  height:50vh;
  left: 60px;
 
}

.about{
 position: absolute;
 right: 125px;
 width: 500px;
 font-size: 1.5em;
 margin-top: 80px;
 text-align: justify;
  
}

.about h1{
  line-height: 45px;
}

.about p{
  margin-top: 20px;
}

.cta{
  position: absolute;
  border-radius: 50px;
  padding: 10px 50px;
  background-color: #4CAF50;
  margin-top: 20px;
  text-decoration: none;
  color: #000;
  font-weight: 300;
  transition: .2s;
}

.cta:hover{
  background-color: transparent;
  border: 2px solid #4CAF50 ;
  color: #4CAF50;
}

.btn.book{
  float: right;
  border-radius: 50px;
  padding: 5px 30px;
  background-color: #4CAF50;
  margin-top: 8px;
  margin-right: 20px;
      
}

/*end of landing*/


/* Loading Screen Styling */

.loading-screen {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background-color: #000;
  width: 100%;
  height: 100%;
  transform: scaleY(0) skewX(0);
  transform-origin: top left;
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  pointer-events: none;
}

/* Loading Screen Styling Ends */









  .topnav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

  }

 .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
   @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
     .topnav.responsive a {
      float: none;
      display: block;
   
    }
  }


 @media screen and (max-width: 600px) {
body{
  background-image: none;
}
 }

  
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}


@media screen and (max-width: 600px) {
#about{
  max-width:400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
}

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.gallery {
  position: absolute;
  bottom: 0;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #4CAF50;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.row{
  width: 100%;
  max-width:100%;
  line-height: 0;
}

.gallery-container{
  position: relative;
  width: 100%;
  height:100vh;
 
}

form{
  margin: 0 auto;
   margin-top: 150px;
   border: 0px solid red;
   width:1000px;
   height:500px;  
}

.input{
  display: inline-block;
  margin-right:10px !important ;
    
}

input{
  height:4rem !important;
  background:rgba(0, 0, 0, 0.11) !important;
  width: 200px !important;
  transition: 2s;
  border-radius: 5px;
}

input:hover{
  border: 1px solid #4CAF50;
}

.form{
  display: block;
  margin: 20px auto;
  text-align: center;
}

.booking{
  display: block;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid black;
  padding: 20px 50px;
  line-height: 0px;
  font-family: inherit;
}

.booking:hover{
  background:rgba(0, 0, 0, 0.096) !important;
}

.thankyou_message{
  margin-top: 10px;
}